<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <header class="">
      <div class="logo">
        <img src="../assets/img/sigoa_logo.jpeg" alt="Logo" />
      </div>
      <h1 class="system-name">Sistema De Gestão De Ocorrências</h1>
      <div class="user">
        <i class="fas fa-user"></i>
        <span>Usuário</span>
      </div>
    </header>
    <app-navbar></app-navbar>

    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </body>
</html>
