<div class="navbar">
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/']"><i class="fas fa-tachometer-alt"></i> Painel de
      Controle</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/piquete']"><i class="fas fa-map-marker-alt"></i>
      Piquete</a>
  </li>

  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/autos']"><i class="fas fa-file-alt"></i> Autos</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/delituoso']"><i
        class="fas fa-exclamation-circle"></i> Potencial Delituoso</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/grupos']"><i class="fas fa-users"></i> Grupos</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/processos']"><i class="fas fa-folder-open"></i>
      Processos</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/participantes']"><i class="fas fa-users"></i>
      Participantes</a>
  </li>
  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/mandatos']"><i class="fas fa-gavel"></i>
      Mandatos</a>
  </li>

  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/vitimas']"><i class="fas fa-user-injured"></i>
      Vítimas</a>
  </li>

  <li>
    <a routerLink="/" ariaCurrentWhenActive="page" [routerLink]="['/decisao']"><i class="fas fa-balance-scale"></i>
      Decisão do Tribunal</a>
  </li>
</div>
